{% load i18n %}
<p>
    <span class="crumb crumbfirst">
        <a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>
    </span> 
    <span class="crumb">
        <span> &raquo; </span>
        <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a>
    </span> 
    {% if topic %}
    <span class="crumb">
        <span> &raquo; </span>
        <a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a>
    </span> 
    {% endif %}
    <span class="crumb crumblast">
        <span> &raquo; </span>
        {% if is_new_post %}{% if is_reply %}{% trans "Post new reply" %}{% else %}{% trans "Post new topic" %}{% endif %}{% else %}{% if is_reply %}{% trans "Edit reply" %}{% else %}{% trans "Edit topic" %}{% endif %}{% endif %}
    </span> 
</p>
